body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bluebg{
    background-color: #00f;
    background-size: cover;
    margin: 0;
    clip-path: ellipse(100.5% 125.7% at 10% -59.5%);
}
/*Styles for Logo Image*/
.img{
   float: right;
   margin-top: 35%;
   margin-right: 25%;
   margin-bottom:85% ;
}

.topleft{
    color:#ffff;
    font-size: 110%;
    font-weight: bolder;
    text-align: center;
    float: left;
    position:absolute;
    top:60px;
    left: 50px;
    
}

.topleft button{
    background-color: blue;
    color:#ffff;
    font-size: 90%;
    border-color: #fff;
    border-radius: 18px;
    border-style: solid;
    cursor: pointer;
    padding: 2px 10px;
    margin-left: 0 ;
    font-weight: bold;
    width: 40%;
}
fieldset h2{
    font-size: 40px;
    font-weight: 600;
    flood-color: #000;
    padding:0 0 40px 40px;
}
.center-span{
    padding: 100px 30px 0 0;
    margin: 0 auto;
    margin-left: 30%;
}

fieldset{
    float: left;
}

.fieldset label{
    font-size: 90px;
}

label{
    position: relative;
}

form input{
    border-radius: 25px;
    float: left;
    border-color:  lightgrey;
    border-style: solid;
    text-align: center;
    padding: 10px 30px 10px 5px;
    margin-bottom: 20%;
    margin-right: 0;
    width: 120%;
    color: #000;
}

img.icon{
    margin-top: -70%;
    margin-left: 5% 
}

form button{
    background-color: blue;
    color:#ffff;
    font-size: 90%;
    border-radius: 16px;
    border-style: none;
    cursor: pointer;
    padding: 10px ;
    margin-left: 35px;
    width: 50%;
}
 .button:hover{
     background-color: #f1f1f1;
     color:blue;
 }


h6, button{
    width: 75%;
    text-align: center;
    padding: 10px 25px 0 0 ;
    display: inline-block;
}


.social{
    background-color: #fff;
    color: #000;
    margin-left: 5%;
    text-align: center;
}

img.social-icons{
    margin-right: 5px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    image-resolution: 2px;
    border-radius: 100px;
    border-style: solid;
    border-color: #000;
    border-width: 2px;
}

div>fieldset>h2{
    text-align: left;
    float: center;
}

label[for="email"]{
    float: left;
    text-align:left;
    display:block;
}

label[for="password"]{
    float: left;
    position: relative;
}