*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
body{
    background: #fbf3ff;
}
 
.container{
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top:50%;
    left:50%;
    transform: translate (-50%, -50%);
}
 

 
.myLeftSide{
    position: relative;
    background: white;
    border-radius:25px;
    height:100%;
    padding: 25px;
    padding-left:50px;
}

.myLeftSide header{
    color:black;
    font-size:20px;
}
.row{
    height:100%
}

.myCard {
    position: relative;
    background: white;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
} 
  
  
.box {
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
} 
  
.myLeftSide .myInput {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
  
.myLeftSide .myInput:focus {
    outline: none;
} 
  
.myForm {
    position: relative;
    margin-top: 50px;
} 
  
.myLeftSide .button {
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
} 
  
.myLeftSide .button:focus {
    outline: none;
} 
  
.myLeftSide .fas {
    position: relative;
    color:white;
    left: 36px;
} 
  
.button_out {
    background: transparent;
    color: #fff;
    width: 120px;
    border: 2px solid#fff;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
} 
  
.button_out:hover {
    border: 2px solid#eecbff;
} 

.button_out:focus {
    outline: none;
}
img{
    max-width: 50%;
    height:auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 280px;
    background-color: #eee;
}